<a href="https://colab.research.google.com/github/dongwoo314/py04/blob/master/notebook/ch2_exercises_py05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch2_exercises.ipynb

## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

In [2]:
# [Q1] Code
국어 = 80
영어 = 75
수학 = 55
average = (국어+영어+수학) / 3
print("홍길동 씨의 평균 점수는",average,"점 입니다")

홍길동 씨의 평균 점수는 70.0 점 입니다

## Q2.
> 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1. 판별 기준
2. 코드

In [3]:
# [Q2] Code
# 1. 판별 기준 : 2로 나눴을때 나머지가 1이면 홀수, 2이면 짝수
# 2. 코드
a = 13 % 2
if a == 1:
  print("13은 홀수 입니다")

13은 홀수 입니다

## Q3.
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

- 문자열 슬라이싱 기법을 사용해 보자.

In [0]:
# [Q3] Code
주민등록번호 = "881120-1068234"
YYYYMMDD = 주민등록번호[:6]
others = 주민등록번호[7:]
print(YYYYMMDD)
print(others)

881120
1068234

## Q4.
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

- pin = "881120-1068234"
- ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
- 문자열포맷팅을 이용해서 성별을 출력하시오.

In [6]:
# [Q4] Code
pin = "881120-1068234"
if pin[7] == "1" or  pin[7] == "3":
  sex = "남자"
elif pin[7] == "2" or  pin[7] == "4":
  sex = "여자"
print("홍길동 씨의 성별은", sex, "입니다.")

홍길동 씨의 성별은 남자 입니다.

## Q5.
> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

- a = "a:b:c:d"

In [0]:
# [Q5] Code
a = "a:b:c:d"
a.replace(":", "#")

'a#b#c#d'

## Q6.
> [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

- ※ 리스트의 내장 함수를 사용해 보자.

In [8]:
# [Q6] Code
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## Q7.
> ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [0]:
# [Q7] Code
a = ['Life', 'is', 'too', 'short']
b = " ".join(a)
print(b)

Life is too short

## Q8.
> (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [10]:
# [Q8] Code
tp = (1,2,3)
ls = list((tp))
ls.append(4)
tp = tuple((ls))
print(tp)

(1, 2, 3, 4)

## Q9.
> 다음과 같은 딕셔너리 a가 있다.

>> a = dict()  
>> a  
{}

- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [0]:
# [Q9] Code & explanation
a = dict()
a

{}

In [0]:
#1
a['name'] = 'python'
print(a)

{'name': 'python'}

In [0]:
#2
a[('a',)] = 'python'
print(a)

{'name': 'python', ('a',): 'python'}

In [0]:
#3
a[[1]] = 'python'
print(a)

TypeError: ignored

key값은 변하지 않아야 되지만, [1]은 리스트 때문에 값이 변할 수 있다

In [0]:
#4
a[250] = 'python'
print(a)

{'name': 'python', ('a',): 'python', 250: 'python'}

## Q10.
> 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>> a = {'A':90, 'B':80, 'C':70}

- ※ 딕셔너리의 pop 함수를 사용해 보자.

In [0]:
# [Q10] Code
a = {'A':90, 'B':80, 'C':70}
b = a.pop('B')
print(b)

80

## Q11.
> a 리스트에서 중복 숫자를 제거해 보자.
>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [0]:
# [Q11] Code
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
s1 = set(a)
b = list(s1)
print(b)

[1, 2, 3, 4, 5]

## Q12.
> 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>> a = b = [1, 2, 3]  
>> a[1] = 4  
>> print(b)

In [0]:
# [Q12] Code & explanation
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

a와 b가 동일한 객체를 가지기 때문에 같은 값이 나온다