<a href="https://colab.research.google.com/github/dongwoo314/py04/blob/master/notebook/mid_exam_py04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## mid_exam_py04.ipynb

## 1. 다음 식의 연산 결과는?
- a = 5
- b = 3
- a**b

In [0]:
# ** 는 지수연산자 이기 때문에 5의 3제곱을 계산
a = 5
b = 3
print(a**b)

125

## 2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는?
* a = "Life is too short, You need Python!"
* a[-16:-8]

In [0]:
a = "Life is too short, You need Python!"
a[-16:-8]
# -16의 위치에 있는 문자는 "Y" -8의 위치에 있는 문자는 "d" 바로 뒤 " " 슬라이싱 결과는 "Y"부터 " " 앞인 "d"까지 문자열인 'You need' 가 출력

'You need'

## 3. 다음 list a의 인덱싱 결과는?
* a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
* a[3][-1][0]

In [0]:
# 인덱싱을 하게 되면 순차적으로 대괄호를 파고 들어가는데, [3] -> ['a', 'b', ['My', 'Life', 'Good']], [-1] -> ['My', 'Life', 'Good'], [0] -> 'My'
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
a[3][-1][0]

'My'

## 4. 다음 tuple t1의 슬라이싱 결과는?
* t1 = (0, 1, "s", "t", "u")
* t1[2:-2]

In [0]:
t1 = (0, 1, "s", "t", "u")
#     0  1   2    3    4 
#    -5 -4  -3   -2   -1
t1[2:-2]
# 튜플 t1을 인덱싱 해보면 t1[2]는 's',t1[-2] 인덱싱하면 't'이다. t1[2:-2]의 슬라이싱 결과는 's'부터 't'전까지 이므로 's' 하나
# 튜플은 1개의 요소만을 가질때는 요소 뒤에 콤마 붙인다 따라서 t1[2:-2]의 결과값은 ('s',)가 출력

('s',)

## 5. 다음 bool 값 출력 중 정확한 것은?
* bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))

In [0]:
# bool([0, 1, 2]): [0, 1, 2] 리스트는 빈 리스트가 아니므로 bool 연산의 결과로 bool 자료형인 True
# bool([0]): [0] 리스트는 빈 리스트가 아니므로 bool 연산의 결과로 bool 자료형인 True
# bool((0)): (0)은 튜플이 아닌 숫자형 0을 나타냄. 따라서 bool 연산의 결과로 bool 자료형인 False.
# bool((0,)): (0,) 튜플은 빈 튜플이 아니라서 bool 연산의 결과로 bool 자료형인 True.
# bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))의 결과값은 (True, True, False, True)가 출력

## 6. 다음 조건문을 1줄 코드로 변경하시오.

In [0]:
score = 80
if score >= 60:
  message = "success"
else:
  message = "failure"

success

In [0]:
message = "success" if score >= 60 else "failure"
print(message)
# # 변수 message에 값을 할당할 때 if-else 문을 단축 코드로 만들게 되면 조건문의 자리는 수행할 문장의 뒤가 된다

success

## 7. 다음 코드의 실행 결과는?

In [1]:
games = ["A", "B" ,"C"]  # games라는 변수에 ["A,","B" ,"C"]라는 값을 설정한다.
 
for cnt in range(len(games)): # len(games)는 games안의 요소들의 개수를 의미, len(games)= 3
# for cnt in range(3)과 같아진다, range(3)은 0부터 3미만의 숫자를 포함하는 range 객체를 만듦.
# for문의 in 연산자는 0,1,2값의 데이터가 있으므로 True를 리턴, 변수 cnt는 반복에 따라 해당 데이터를 순차적으로 할당
   print(cnt, games[cnt], end=',') # for문이 반복할 때마다, cnt에 0,1,2의 값이 print함수로 출력
   # cnt가 0일때, cnt값으로 0, games[0]은 리스트의 첫번째요소값 "A"를 출력 이때마다, end=','값도 출력되어 '0 A,'이 print함수를 통해 출력
   # cnt가 1일때, game[1]='B'그리고 end=','로 '1 B,'값 출력.
   # cnt가 2일때, game[2] ='C'이며 end','로 '2 C,'값을 출력하고 for문이 종료
   # 0 A,1 B,2 C,  : 결과값은 다음과 같다.

0 A,1 B,2 C,

## 8. 다음의 결과가 출력되지 않는 것은?
* 'I ate 10 apples. so I was sick for three days.'

In [0]:
number = 10
day = "three"

a = f"I ate {number} apples. so I was sick for {'three'} days."
b = f"I ate {number} apples. so I was sick for {day} days."
c = "I ate {0} apples. so I was sick for {1} days.".format(10, day)
d = "I ate {0} apples. so I was sick for {1} days.".format(number = 10, day)

# a, b, c 모두 출력 d는 오류
# {name}를 사용할 경우 format 함수에는 반드시 같은 형태의 입력값이 있어야 하기 때문

## 9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.

In [0]:
sum([num for num in range(1,1001) if num % 5 == 0])

# range(1,1001) : 1000까지 출력함(1001 출력x)
# num % 5 == 0 : 5의 배수를 구하는 코드

100500

## 10. 4개 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in [a].______(subjects,scores):
  total += score
  print(subject,score)

print("평균 점수 = {0}".format([b].______))

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects,scores): # zip : 동일한 개수로 이루어진 자료형을 묶어 주는 역할
  total += score
  print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects))) 

# [a] : zip
# [b] : total/len(subjects)

python 88
english 77
math 66
science 95
평균 점수 = 81.5